/* ------header------ */
a {
  text-decoration: none;
}
header {
  position: sticky;
  padding-top: 15px;
  width: 100%;
}

nav {
  list-style-type: none;
  margin: 0px;
  padding-top: 25px;
  margin-left: 40%;
  padding-bottom: 25px;
}

h2 {
  font-family: Impact, Charcoal, sans-serif; /* font- Logo */
  font-size: 35px;
  display: inline;
  color: #660066; /* using purple as the theme color */
  text-align: center;
  margin-left: 40%;
}

a {
  /* tabs */
  width: 120px;
  color: #660066;
  padding: 12px 6px 0px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  float: none;
}

.nav-tab:hover {
  background-color: #660066;
  color: white;
  border-radius: 10px;
  padding: 12px;
}

#fb,
#in,
#youtube,
#pin,
#tweet {
  padding: 15px;
  font-size: 15px;
  width: 12px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  text-decoration: purple;
  float: right;
  animation: none;
  background-color: gray;
  border-radius: 12px;
  display: inline;
}

/* attribute selector */
img[alt="top image"] {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* ------body------ */

body {
  margin: 0; /* top right bottom left */
  font-family: "Lora", serif; /* font- body */
  font-size: 18px;
  line-height: 1.625;
  padding: 0;
}

/* pseudo element ::selection */
#section-mainpage ::selection {
  color: #990099;
}

/* ------main page body ------ */
#about {
  margin: 10px 100px 0px 40px;
}

#section-social-media {
  width: 12%;
  height: 100%;
  position: absolute;
  float: left;
  margin-left: 100px;
  padding-top: 25px;
}

#section-mainpage-content {
  width: 40%;
  height: 100%;
  /* border-width: 0px 2px;
  border-style: solid;
  border-color: #df9fbf; */
  position: absolute;
  left: 11%;
  margin-left: 10%;
  margin-top: 5%;
  padding: 60px;
  padding-bottom: 200px;
  border-radius: 5px;
  background-image: linear-gradient(
    120deg,
    rgb(56, 142, 240) 50%,
    rgb(163, 7, 155)
  );
}

#section-author {
  width: 25%;
  height: 100%;
  float: right;
  margin-right: 50px;
}

/* attribute selector */
img[alt="image of Nisandi Jayasuriya"] {
  /* 1236 x 500 pixels resolution & 600 pixels */
  width: 80%;
  height: 100%;
  border-radius: 50px;
  margin-top: 10px;
}

/* about page body */

#section-aboutpage-content {
  width: 70%;
  height: 100%;
  text-align: justify;
  margin: 0 auto;
  padding-top: 25px;
}

/* selects images with alt attribute starting with ''about */
img[alt|="about"] {
  box-shadow: 10px 24px 28px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#section-img1 {
  margin: 0;
  padding-top: 20px;
  float: left;
}

#section-img2 {
  margin: 0;
  float: right;
  padding-top: 20px;
}

#section-img3 {
  float: left;
  margin: 0;
  padding-top: 20px;
}

#section-img4 {
  float: right;
  padding-top: 50px;
  margin: 0;
}

/* pseudo element ::selection */
#section-aboutpage-content ::selection {
  color: #b9520e;
}

/* ------ blog ------*/
/* css selector: selects all aside elements where parent is given id */
#section-blogpage-content > article {
  height: 500px;
  width: 380px;
  display: inline-block;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}

/* structural selector which selects the first article inside given section id */
#section-blogpage-content article:first-child {
  background-image: linear-gradient(
    120deg,
    rgb(205, 208, 211) 40%,
    rgb(221, 120, 218) 60%,
    rgb(192, 45, 185)
  );
  margin-left: 130px;
}

/* structural selector which selects the second article inside given section id */
#section-blogpage-content article:nth-child(2) {
  background-image: linear-gradient(
    120deg,
    rgb(211, 52, 203) 20%,
    rgb(156, 47, 151) 40%,
    rgb(151, 83, 190)
  );
}

/* structural selector which selects the last article inside given section id */
#section-blogpage-content article:last-child {
  background-image: linear-gradient(
    120deg,
    rgb(172, 95, 216) 50%,
    rgb(223, 183, 221)
  );
}

/* ------footer------ */
footer {
  margin: 0px;
  margin-top: 100%;
  padding: 5px;
  padding-top: 100px;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: #660066;
  text-align: center;
  bottom: 0px;
}

/* ------ social media icons ------ */
.fa {
  padding: 20px;
  font-size: 35px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
  color: #660066;
}

/* use of animations */

.fa-twitter {
  background: #55acee;
  color: white;
  animation-name: twitter;
  animation-duration: 6s;
}

@keyframes twitter {
  from {
    background: black;
  }
  to {
    background: #55acee;
  }
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  animation-name: linkedin;
  animation-duration: 8s;
}

@keyframes linkedin {
  from {
    background: black;
  }
  to {
    background: #007bb5;
  }
}

.fa-facebook {
  background: #3b5998;
  color: white;
  animation-name: facebook;
  animation-duration: 10s;
}

@keyframes facebook {
  from {
    background: black;
  }
  to {
    background: #3b5998;
  }
}

.fa-youtube {
  background: #bb0000;
  color: white;
  animation-name: youtube;
  animation-duration: 12s;
}

@keyframes youtube {
  from {
    background: black;
  }
  to {
    background: #bb0000;
  }
}

.fa-pinterest {
  background: #cb2027;
  color: white;
  animation-name: pinterest;
  animation-duration: 14s;
}

@keyframes pinterest {
  from {
    background: black;
  }
  to {
    background: #cb2027;
  }
}
