/* ------header------ */
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 160px;
}

nav {
  list-style-type: none;
  float: right;
  width: 20%;
  margin-top: 30px;
}

h2 {
  font-size: 45px;
  /* same color style has been added as inline css with a dark purple color */
  color: #383831;
  text-align: center;
  float: left;
  text-transform: none;
  font-family: "Abril Fatface", sans-serif;
}

a {
  color: #660066;
  padding: 12px 6px 0;
  font-size: 15px;
  text-transform: uppercase;
  float: none;
}

/* fonts */
h3,
h4 {
  font-family: "Abril Fatface", sans-serif;
}

body {
  font-family: "Castoro", serif;
}

a,
form {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

/* structural selector */
.nav-tab:hover {
  background-color: #660066;
  color: white;
  border-radius: 10px;
  padding: 8px;
}

.nav-icons {
  height: 60px;
  width: 60%;
  float: right;
}

/* ------body------ */

body {
  margin: 20px;
  font-size: 18px;
  line-height: 1.625;
  padding: 0;
  position: relative;
}

/* ------main page body ------ */
.about {
  margin-left: 40px;
  padding-top: 100px;
}

/* pseudo element ::selection */
.div-mainpage ::selection {
  color: #990099;
}

.mainpage-intro {
  position: relative;
  background-color: #f0bef0;
  width: 100%;
  margin: 0 auto;
  height: 550px;
}

.div-author {
  width: 90%;
  height: 95%;
  float: right;
  position: absolute;
  color: #220122;
  margin-top: 10px;
  margin-left: 5%;
}

.div-author > aside {
  margin-top: 80px;
}

.mainpage-twitter-intro {
  position: relative;
  background-color: rgb(247, 247, 154);
  width: 100%;
  margin: 0 auto;
  height: 550px;
  margin-top: 100px;
}

.twitter-timeline {
  margin-left: 100px;
}

.div-twitter-content {
  width: 90%;
  height: 95%;
  float: right;
  position: absolute;
  color: #220122;
  margin-top: 10px;
  margin-left: 5%;
}

/* attribute selector */
img[alt="image of Nisandi Jayasuriya"],
img[alt="image of twitter profile"] {
  width: 40%;
  height: 60%;
  float: right;
  margin-top: 10px;
}

/* ------about page ------ */

.div-about-nisandi {
  width: 50%;
  position: absolute;
  margin-top: 500px;
  background-color: white;
  margin-left: 22%;
  text-align: justify;
  height: 1000px;
  padding: 30px;
}

.div-about-nisandi > p {
  padding: 20px;
}

img[alt="image-adastra"] {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
}

.div-aboutpage-content {
  position: relative;
}

/* selects images with alt attribute starting with ''about */
img[alt|="about"] {
  box-shadow: 10px 24px 28px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-img-vertical {
  margin-left: 25%;
}

/* pseudo element ::selection */
.div-aboutpage-content ::selection {
  color: #b9520e;
}

/* ------ blog ------*/
/* css selector: selects all article elements where parent is given id */
.div-blogpage-content > article {
  width: 400px;
  height: 800px;
  display: inline-block;
  position: absolute;
  margin-top: 100px;
}

.div-blogpage-content {
  width: 100%;
  height: 1000px;
}

img[alt="img-article"] {
  width: 400px;
  height: 420px;
}

.vid-baobab {
  width: 380px;
  height: 200px;
  border: 1px solid; /* border */
  margin-left: 8px;
}

.div-blogpage-content article:first-child {
  background-color: rgb(243, 178, 178);
}

/* pseudo class :first-child */
.div-blogpage-content article:nth-child(2) {
  margin-left: 490px;
  background-color: rgb(155, 247, 162);
}

.div-blogpage-content article:nth-child(3) {
  background-color: rgb(95, 178, 247);
}

.section-austin {
  width: 300px;
  height: 25px;
  margin-left: 35px;
  margin-top: 50px;
  padding: 12px;
  background-color: rgb(253, 253, 51);
  border-radius: 5px;
  color: black;
}

.section-austin:hover {
  background-color: rgb(245, 143, 143);
}

.article-ajahn-brahm {
  margin-left: 980px;
}

.section-ajahn-brahm {
  width: 300px;
  height: 25px;
  margin-left: 53px;
  padding: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
}

.section-ajahn-brahm:hover {
  background-color: rgb(100, 97, 255);
}

.div-blogpage-content h5 {
  margin: 50px;
}

/* ------ contact-newsletter ------ */
/* negation pseudo-element which applies background color except the form in the news-letter*/
.contact-body:not(form) {
  background-color: #f5d4f5;
}

.contact-body > h3 {
  text-align: center;
  margin-top: 50px;
}

.newsletter {
  background-color: white;
  width: 40%;
  height: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

.section-contact-social-media {
  width: 60%;
  height: 25%;
  margin-top: 20px;
  text-align: center;
  margin-left: 20%;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

label {
  display: inline-block;
  font-size: 20px;
  padding: 12px 10px 10px 0;
  margin-top: 5px;
  margin-left: 10px;
}

/* attribute selectors for styling form elements */
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #2e2a2e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  width: 30%;
  font-weight: bold;
}

input[type="submit"]:hover {
  opacity: 0.8;
  background-color: #3e3c3f;
}

#fb,
#in,
#youtube,
#pin,
#twitter {
  font-size: 12px;
  text-align: center;
  animation: none;
  border-radius: 12px;
  display: inline;
}

/* ------footer------ */
footer {
  margin: 0;
  margin-top: 100%;
  margin-bottom: 0;
  font-size: 15px;
  color: #660066;
  text-align: center;
  border-top: 1px solid #ebcaeb;
  padding-bottom: 20px;
  padding-top: 25px;
  bottom: -800px;
  position: absolute;
  width: 100%;
}

.footer {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.about-footer {
  bottom: -4000px;
  position: absolute;
  font-family: "Oswald", sans-serif;
}

.div-footer-icons {
  margin-top: 22px;
}

/* use of a gradient for the button */
.back {
  color: black;
  border: none;
  background-image: linear-gradient(
    120deg,
    rgb(211, 52, 203) 20%,
    rgb(194, 92, 189) 40%,
    rgb(151, 83, 190)
  );
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
}

.back:hover {
  background-image: linear-gradient(
    120deg,
    rgb(224, 185, 224) 20%,
    rgb(204, 136, 201) 40%,
    rgb(197, 124, 243)
  );
  color: #220122;
}

/* ------ social media icons ------ */
.nav-icons .fab {
  padding: 2px;
  font-size: 18px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 25px 2px;
  color: #990099;
  float: right;
}

.fab:hover {
  color: #0f0f0f;
  opacity: 0.7;
}

.section-contact-social-media .fa {
  padding: 20px;
  font-size: 18px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
  color: #0f0f0f;
}

/* use of animations */

#twitter {
  background: #55acee;
  color: white;
  animation-name: twitter;
  animation-duration: 6s;
}

@keyframes twitter {
  from {
    background: black;
  }
  to {
    background: #55acee;
  }
}

#in {
  background: #007bb5;
  color: white;
  animation-name: linkedin;
  animation-duration: 8s;
}

@keyframes linkedin {
  from {
    background: black;
  }
  to {
    background: #007bb5;
  }
}

#fb {
  background: #3b5998;
  color: white;
  animation-name: facebook;
  animation-duration: 10s;
}

@keyframes facebook {
  from {
    background: black;
  }
  to {
    background: #3b5998;
  }
}

#youtube {
  background: #bb0000;
  color: white;
  animation-name: youtube;
  animation-duration: 12s;
}

@keyframes youtube {
  from {
    background: black;
  }
  to {
    background: #bb0000;
  }
}

#pin {
  background: #cb2027;
  color: white;
  animation-name: pinterest;
  animation-duration: 14s;
}

@keyframes pinterest {
  from {
    background: black;
  }
  to {
    background: #cb2027;
  }
}
